<form [formGroup]="form">

  <table width="100%" border="3px">

    <tr>
      <td>
        <label for="limit">Games per page:&ensp;</label>
      </td>
      <td>
        <select formControlName="limit" (change)="setLimit()">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <app-game [limit]="limit" [offset]="offset"></app-game>
      </td>
    </tr>

    <tr>
      <td>
        <button *ngIf="offset > 0" (click)="previous()">Previous</button>
      </td>
      <td>
        <button (click)="next()">
          Next
        </button>
      </td>
    </tr>
  </table>

</form>
